<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyPortfolio</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <div align="center" style="margin-top: 110px;">
    <h2>Welcome! Register or Login to Continue</h2>
    <img class="welcome_img" src="/assets/img/welcome.jpg" alt="">
  </div>